body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    margin-bottom: 10px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2c3e50;
    color: white;
    bottom: 0;
    width: 100%;
}

.carousel-container {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* o "contain" si prefieres */
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.carousel-image.active {
    opacity: 1;
}


@media (max-width: 768px) {
    section {
        margin: 10px;
        padding: 15px;
    }

    .carousel-container {
        height: 200px;
    }
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    color: #2c3e50;
    font-size: 1.5em;
    margin-bottom: 25px;
    text-align: center;
}

.project h4 {
    color: #3498db;
    margin: 20px 0 10px;
    font-size: 1.2em;
}

.project-grid {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.project-image {
    flex: 1;
    min-width: 300px;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details {
    flex: 2;
}

.project-full {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .project-grid {
        flex-direction: column;
    }
}

nav {
    background-color: #3498db;  /* Fondo azul */
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: white;  /* Cambié el color del texto a blanco */
    font-weight: bold;
    font-size: 1.2em;  /* Tamaño de fuente ligeramente mayor */
}


nav a:hover {
    color: #f4f4f4;  /* Color blanco al pasar el mouse */
    text-decoration: underline;  /* Subraya el texto */
    transition: all 0.3s ease;  /* Efecto suave de transición */
}
